/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext');


:root {
    --primary: #FFCE00;
    /*--primary: rgb(242, 153, 74);*/
    /*--primary: rgb(67, 65, 158);*/
    --secondary: #FE4880;
    /*--secondary: rgb(242, 201, 76);*/
    /*--secondary: rgb(77, 75, 250);*/
    --dark: #212121;
    --light: #F3F3F3;
}

body {
    margin: 0;
    /*font-family: 'Lato';*/
    font-family: Mulish, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color:#F4F3F9;
    /*background-image:linear-gradient(to bottom, rgba(244, 243, 249, .7), rgba(244, 243, 249, 1));*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
}

h1 {
    color: #ffffff;
    font-size: 26px;
}

h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
}

small {
    font-size: 65%;
}


.App {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row; /* default value anyway */
    justify-content: center;
    align-items: center;
}

/* --------- GRID AREAS ------------- */

.cards_top {
    grid-area: cards_top;
}
.cards_bottom {
    grid-area: cards_bottom;
}
.cards_left {
    grid-area: cards_left;
}
.cards_right {
    grid-area: cards_right;
}
.cards_map {
    grid-area: cards_map;
}

/* --------- GRID ------------- */

.wrapper {
    width:80%;
    max-width:990px;

    display:grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows:auto;
    grid-template-areas:
            "cards_top cards_top cards_top"
            "cards_left cards_map cards_right"
            "cards_bottom cards_bottom cards_bottom"
}

/* ------------ FLEX LAYOUT ------------- */
.cards_top, .cards_bottom {
    width:100%;
    display:flex;
    /*flex-wrap: wrap;*/
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.cards_left, .cards_right {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
}
.cards_right {
    align-items:flex-start;
}

.cards_map {
    flex-grow:2;
}

/* ------------ CARD FLIPPING ------------- */
.card_inner {
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position:relative;
    cursor: pointer;
}

.card_inner.is-flipped {
    transform:rotateY(180deg);
}

/* ------------ CARD ------------- */
.card {
    width: 10vw;    /* WIDTH  -  vh  - > HEIGHT*/
    height: 13vw;

    max-width: 100px;
    max-height: 130px;

    margin: 10px;
}

.card_icon {
    width:50%;
    padding:10px;
}
.card_icon svg {
    fill:#ffffff;
    width:100%;
    height:100%;
}

.card_face {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

/* ---------------- CARD - FRONT ------------- */
.card_face_front {
    background-image:linear-gradient(to top left, rgb(226, 159, 6), rgba(248, 183, 41, 1));  /* FROM BOXY-SVG */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    border:1px solid #E44E2B;

    -webkit-box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
    -moz-box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
    box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
}

/* ---------------- CARD - BACK ------------- */
.card_face_back .card_content {
    background-image:linear-gradient(to bottom right, rgb(69, 104, 220), rgb(176, 106, 179));
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

    -webkit-box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
    -moz-box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
    box-shadow: inset 0px 0px 25px 8px rgba(0,0,0,0.21);
}

.card_face_back {
    background-color: var(--light);
    transform:rotateY(180deg);

    /*border:5px solid #E44E2B;*/
}

.card_content {
    width:100%;
    height:100%;
}

.card_header {
    position:relative;
    padding:30px 30px 40px;
}

.card_header:after {
    content: '';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    -webkit-border-radius: 0 0 50% 0;
    -moz-border-radius: 0 0 50% 0;
    border-radius: 0 0 50% 0;

    bckground-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 150%);
}

.track_container {
    width:100%;
    height:100%;
}
.track_container svg {
    width:100%;
    height:100%;
}


@media (max-width: 600px) {

    .App {
        align-items: flex-start;
    }

    .wrapper {
        width:100%;
        max-width:990px;
        margin-top:30px;
        /*display: flex;*/
        /*flex-direction: column; !* default value anyway *!*/
        /*justify-content: center;*/
        /*align-items: center;*/

        display:grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-template-rows:auto;
        grid-template-areas:
                "cards_map cards_map cards_map cards_map"
                "cards_top cards_top cards_top cards_top"
                "cards_left cards_left cards_right cards_right"
                "cards_bottom cards_bottom cards_bottom cards_bottom"
    }

    .cards_left, .cards_right {
        /*display:none;*/
        flex-direction:row;
        justify-content:flex-end;
    }

    .cards_right {
        justify-content:flex-start;
    }

    .card {
        width: 12vw;
        height: 15vw;
        margin: 10px;
    }

}
