/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext');


:root {
    /*--primary: #FFCE00;*/
    --primary: rgb(242, 153, 74);
    /*--secondary: #FE4880;*/
    --secondary: rgb(242, 201, 76);
    --dark: #212121;
    --light: #F3F3F3;
}

body {
    margin: 0;
    /*font-family: 'Lato';*/
    font-family: Mulish, sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/

    background-image:linear-gradient(to bottom right, rgba(255, 255, 255), rgba(225, 225, 225));
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
}

h1 {
    color: #ffffff;
    /*font-weight:bold;*/
    font-size: 26px;
}

h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
}

small {
    font-size: 65%;
}


.App {
    width: 100%;
    height: 100%;

    border: 2px solid #333;

    display: flex;
    flex-direction: row; /* default value anyway */
    justify-content: center;
    align-items: center;

}

.wrapper {
    width:80%;
    max-width:990px;
    display: flex;
    flex-direction: column; /* default value anyway */
    justify-content: center;
    align-items: center;
}

.cards_top, .cards_bottom {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.cards_middle {
    width:100%;
    /*height:300px;*/
    display: flex;
    flex-direction: row; /* default value anyway */
    justify-content: space-between;
    align-items: center;

    /*border:2px solid #ff0000;*/
}

.cards_left, .cards_right {
    width:160px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    /*border:1px solid #333;*/
}

.cards_map {
    /*height:300px;*/
    /*width:100%;*/
    flex-grow:2;
    /*border:1px solid #0000ff;*/
}

.cards {
    width: 80%;
    min-height: 10%;
    /*max-height:80%;*/

    display: flex;
    flex-direction: row; /* default value anyway */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*flex-grow: 0;*/

    /*overflow:scroll;*/

    border: 2px solid gray;

    /*min-height:200px;*/

    /*margin-top:40px;*/
}

.card {
    width: 100px;
    /*width: calc(100% - 90%);*/
    height: 130px;

    /*border: 2px solid #0000ff;*/
    margin: 10px;
    /*position:absolute;*/

}

.card_icon {
    width:50%;
    padding:10px;

    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*border-radius: 6px;*/

    /*-webkit-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.2);*/
}
.card_icon svg {
    fill:#ffffff;
    width:100%;
    height:100%;
    /*background-image:linear-gradient(to bottom right, var(--primary), var(--secondary));*/
    /*fill:linear-gradient(to bottom right, var(--primary), var(--secondary));*/


}

.card_inner {
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position:relative;

    cursor: pointer;
}

.card_inner.is-flipped {
    transform:rotateY(180deg);
}

.card_face {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face_front {
    background-image:linear-gradient(to top left, var(--primary), var(--secondary));
    /*background-image:linear-gradient(to bottom right,  rgb(0, 242, 96), rgb(5, 117, 230));*/
    /*background-image:linear-gradient(to bottom right,  rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));*/
    /*background-image:linear-gradient(to top left, rgb(242, 153, 74), rgb(242, 201, 76));*/
    /*background-image:linear-gradient(to top left, rgb(32, 0, 44), rgb(203, 180, 212));*/
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.card_face_back .card_content {
    /*background-image:linear-gradient(to top left, var(--primary), var(--secondary));*/
    background-image:linear-gradient(to bottom right, rgb(69, 104, 220), rgb(176, 106, 179));
    /*background-image:linear-gradient(to bottom right,  rgb(0, 242, 96), rgb(5, 117, 230));*/
    /*background-image:linear-gradient(to bottom right,  rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));*/
    /*background-image:linear-gradient(to top left, rgb(242, 153, 74), rgb(242, 201, 76));*/
    /*background-image:linear-gradient(to top left, rgb(32, 0, 44), rgb(203, 180, 212));*/
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.card_face_front h2 {
    color:#ffffff;
    font-size:18px;
}

.card_face_back {
    background-color: var(--light);
    transform:rotateY(180deg);
}

.card_content {
    width:100%;
    height:100%;
}

.card_header {
    position:relative;
    padding:30px 30px 40px;
}

.card_header:after {
    content: '';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    -webkit-border-radius: 0 0 50% 0;
    -moz-border-radius: 0 0 50% 0;
    border-radius: 0 0 50% 0;

    bckground-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 150%);
}




.track_container {
    width:100%;
    height:100%;
}
.track_container svg {
    width:100%;
    height:100%;
}


@media (max-width: 360px) {

    .cards {
        width: 100%;
        height: 100%;
    }

    .card {
        width: 60px;
        height: 110px;
    }
}

.card_inner {

}
